{{template "head.html" .}}
</head>
<body>
    {{template "nav.html" .}}
    <div class="card m-5">
        <h3 class="card-header">Sport tournaments</h3>
    </div>
    <div class="card m-5">
        <h5 class="card-header">Version 1.0</h5>
        <div class="card-body">
            <ul>
                <li>Authorization, authentication and registration user</li>
                <li>Creation scheduler for robin round tournament (4-10 teams)</li>
                <li>Creation scheduler for elimination tournament (4, 8, 16 teams)</li>
                <li>3 sport: football, handball, chess</li>
            </ul>
        </div>
    </div>
</body>
</html>